#coba{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 90%;
    margin-top: 75px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

div.content {
    margin-left: 215px;
    padding: 1px 16px;
    height: 100px;
    margin-top: 75px;
}

#color{
    color: black;
}

#seting{
    position: absolute;
    padding: 25px;
    bottom: 0;
    color: black;
}

body{
    background-color: #09092f;
}

.card{
    background-color: #09092f;
}

.card-body{
    text-align: center;
}

#table{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 345px;
}

#font{
    font-size: 25px;
    padding: 8px;
}

.jam {
    font-size: 2em;
    border: 1px solid #ffffff;
    border-radius: 1px;
    padding: 5px;
    color: #ffffff;
}
