#coba{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:grey;
  position: fixed;
  height: 90%;
  
}
  
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 500px;
  margin-top: 61px;
}

#seting{
  position: absolute;
  padding: 25px;
  bottom: 0;
}